{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block footer %}

<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/site.js"></script>
<script>

</script>

{% endblock %}

{% block body %}

<h1>Sign up</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="../Signup/create" id="formSignup">
    <div>
        <label for="inputName">Name</label>
        <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}" required/>
    </div>
    <div>
        <label for="inputEmail">Email Address</label>
        <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email"/>
    </div>
    <div>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="Password" required/>
    </div>


    <button type="submit">Sign up</button>
</form>

{% endblock %}