.alert {
    border: 1px solid #cccccc;
    padding: 6px;
}

.alert-info {
    background-color: #d9edf7;
}

.alert-success {
    background-color: #dff0d8;
}

.alert-warning {
    background-color: #fcf8e3;
}