{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome</h1>
{% if current_user %}
    Hello, {{ current_user.name }}

    <a href="/logout">Log out</a>
{% else %}
    <ul>
        {% for color in colors %}
            <li>{{ color }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}