{% extends "base.html" %}

{% block title %}Log In{% endblock %}


    {% block body %}
        <h1>Log In</h1>

        <form action="../Login/create" method="post">
            <div>
                <label for="inputEmail">Email Address</label>
                <input type="email" id="inputEmail" name="email" placeholder="Email Address" autofocus value="{{ email }}"/>
            </div>
            <div>
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" name="password" placeholder="Password"/>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %} /> Remember Me
                </label>
            </div>
            <button type="submit">Login</button>
        </form>

    {% endblock %}
    {% block footer %}
        <script src="/js/hideShowPassword.min.js"></script>
        <script src="/js/userValidation.js"></script>
    {% endblock %}